{# src/DoninfoBundle/Resources/views/Security/connexion.html.twig #}

{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}
        
    <div class="bloc-form">
       
        {% for flashMessage in app.session.flashbag.get('erreur') %}
            <div class="flash-messages">
                {{ flashMessage }}
            </div>
        {% endfor %}
    
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="flash-messages">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="form-connexion-info">
                
            <h4>Mot de passe oublié</h4>
                
            <p>
                Veuillez choisir un nouveau mot de passe.
            </p>
                
        </div> 
        
        <div class="form-connexion recover-form">
        
            {{ form_start(form) }}
        
                {% form_theme form 'DoninfoBundle:Template:formulaires.html.twig' %}
                
                {{ form_row(form.password.first, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(form.password.second, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                
                <div class="form-group has-feedback button-container bt-send-annonce">
                    {{ form_row(form.envoyer,
                        {'attr': {'class' : 'button form-control'}}   
                    )}}
                    <i class="glyphicon glyphicon-chevron-right form-control-feedback button-icon"></i>
                </div>

            {{ form_end(form) }}
            
        </div>  
        
    </div>

{% endblock %}