{% extends "DoninfoBundle:Site:layout.html.twig" %} {% block title %} {{ parent() }} {% endblock %} {% block contenu %}
    <div class="banner col-xs-12">
        <div class="col-xs-12">
            <img src="{{ asset('bundles/doninfobundle/images/donfond.png') }}" class="img-responsive"/>
        </div>
        <div class="banner-container-don col-xs-12">
            <div class="banner-donner">
                Faire un <a href="{{ path('doninfo_post') }}" class="banner-liens">don</a>
                ou exprimer un <a href="{{ path('doninfo_post') }}" class="banner-liens">besoin</a>
            </div>
            <div class="banner-d">Pour professionnels et le milieu associatif</div>
        </div>
    </div>

    <div class="col-xs-12 container-acc-p">
        <div class="accueil_p row">
            <div class="col-xs-6 container-bloc-left">
                <div class="bloc-left-acc-p">
                    <p class="acc-desc">Du matériel informatique à donner ou un projet nécessitant un nouvel ordinateur ?</p>
                    
                    <a href="{{ path('doninfo_post') }}" class="link-acc-p">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        <p class="acc-highlight">Postez une annonce</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 container-bloc-right">
                <div class="bloc-right-acc-p">
                    <p class="acc-desc">Trouvez autour de vous un projet à soutenir ou une structure prête à vous aider.</p>
                    <a href="{{ path('doninfo_index_donations') }}" class="link-acc-p">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <p class="acc-highlight">Recherche simple et rapide</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 container-acc-t">
        <div class="accueil_t row">
            <p class="bloc-text-acc-t">
                Doninfo, site gratuit de proposition de don et de présentation de besoin, à destination des associations et des professionnels.
                <br><br>
                L’objectif du site est de faciliter la mise en relation des professionnels et du milieu associatif. Le but est d’apporter un support permettant au professionnels de proposer du matériel informatique à la donation mais aussi permettre aux associations d’exprimer un besoin de même nature.
                <br><br>
                Pour consulter ou poster une annonce, une inscription est obligatoire. Une fois connecté vous pourrez lire et poster des annonces, contacter les autres utilisateurs via une messagerie interne et consulter vos messages.
                <br><br>
                Doninfo est dédié aux dons de matériel informatique.
            </p>
        </div>
    </div>
    <div class="col-xs-12 container-acc-d">
        <div class="accueil_d row">
            <div class="bloc-icon-acc-d col-sm-offset-1 col-sm-2 col-xs-6">
                <i class="fa fa-eur" aria-hidden="true"></i>
                <p>Service entièrement gratuit à l'utilisation</p>
            </div>
            <div class="bloc-icon-acc-d col-sm-2 col-xs-6">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <p>Nécessite une connexion à un compte valide</p>
            </div>
            <div class="bloc-icon-acc-d col-sm-2 col-xs-6">
                <i class="fa fa-commenting" aria-hidden="true"></i>
                <p>Système de messagerie interne</p>
            </div>
            <div class="bloc-icon-acc-d col-sm-2 col-xs-6">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>Localisation par département</p>
            </div>
            <div class="bloc-icon-acc-d col-sm-2 col-xs-12">
                <i class="fa fa-tag" aria-hidden="true"></i>
                <p>Recherche par catégories et mots clés</p>
            </div>
        </div>
    </div>


{% endblock %}
