{# src/DoninfoBundle/Resources/views/Site/annonce.html.twig #}

{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}
    
    <div class="bloc-annonce">
       
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="flash-messages-annonce">
                {{ flashMessage }}
            </div>
        {% endfor %}
       
        <div class="bloc-annonce-titre">
            <h1 class="col-xs-12">
                {{ annonce.titre }}
            </h1>
            <h4 class="col-xs-12">
                N° : {{ annonce.numero }}
                {% if app.user.id == annonce.user.id %}
                -  <a href="{{ path('doninfo_annonce_edit', { 'id': annonce.id }) }}" class="lien-edit">EDITER</a>
                {% endif %}
            </h4>
        </div>
            
        <div class="bloc-annonce-etiquettes">
            {% for objet in objets %}
                <span class="etiquettes">
                    {{ objet.categorie.groupe }}
                </span>         
            {% endfor %}  
        </div>
        
        <div class="bloc-annonce-info-type row">
            <div class="type-1 col-sm-3 col-xs-6">
                <h4>Type</h4>
                <div>{{ annonce.type }}</div> 
            </div>
            <div class="type-2 col-sm-3 col-xs-6">
                <h4>Statut</h4>
                <div>{{ annonce.statut }}</div>
            </div>
            <div class="type-3 col-sm-3 col-xs-6">
                <h4>Publiée le</h4>
                <div>{{ annonce.datecreation|date("d/m/Y") }}</div>
            </div>
            <div class="type-4 col-sm-3 col-xs-6">
                <h4>Expire le</h4>
                
                {% if annonce.datelimite == null %}
                    <div>
                        NC
                    </div>
                {% endif %}
                
                {% if annonce.datelimite != null %}
                    <div>
                        {{ annonce.datelimite|date("d/m/Y") }}
                    </div>
                {% endif %}
            </div>
        </div>  
        
        <div class="row container-info-desc">

            <div class="bloc-annonce-description col-sm-7"> 
                <p>{{ annonce.description }}</p>
            </div>

            <div class="bloc-annonce-info col-sm-offset-1 col-sm-4">
                    
                <div class="bloc-annonce-info-owner">
                    <h4>Auteur</h4>   
                    <div>
                        <a href="#"> {{ nom }} </a>
                    </div>
                    <h4>Localisation</h4>
                    <div>{{ departement }}</div>
                    <div>{{ annonce.ville }}</div>              
                </div>
                    
                {% if formfav is defined %}
                
                <div class="bloc-annonce-favoris">
                    
                    {% if formfav.ajouter is defined %}
                       
                        <h4>Favoris</h4>
                        
                        {{ form_start(formfav, 
                            {'attr' : {'class' : ''}}
                        )}}
                            
                        <div class="button-fav-add">
                            {{ form_row(formfav.ajouter, 
                                {
                                    'attr': {'class' : 'button-msg form-control glyphicon glyphicon-star'},
                                    'label': ' ',
                                }
                            )}}
                        </div>
                            
                        {{ form_end(formfav) }}
                        
                    {% endif %}
                        
                    {% if formfav.retirer is defined %}
                       
                        <h4>Favoris</h4>
                        
                        {{ form_start(formfav, 
                            {'attr' : {'class' : ''}}
                        )}}
                            
                        <div class="button-fav-del">
                            {{ form_row(formfav.retirer, 
                                {
                                    'attr': {'class' : 'button-msg form-control glyphicon glyphicon-star'},
                                    'label': ' ',
                                }
                            )}}
                        </div>

                        {{ form_end(formfav) }}
                        
                    {% endif %}   
                </div> 
                   
                {% endif %}
                
                {% if message is defined %}
                        
                <div class="bloc-annonce-message">
                        
                    <h4>Contacter l'auteur</h4> 
                        
                    {{ form_start(message, 
                        {'attr' : {'class' : 'form-message'}}
                    )}}
                          
                    {% form_theme message 'DoninfoBundle:Template:formulaires.html.twig' %}
                           
                        {{ form_row(message.titre, 
                            {'attr': {'class' : 'form-control input-form-box'}}
                        )}}
                            
                        {{ form_row(message.contenumessage, 
                            {'attr': {'class' : 'form-control input-form-box'}}
                        )}}
                            
                        <div class="button-msg-container">
                            {{ form_row(message.envoyer, 
                                {'attr': {'class' : 'button-msg form-control'}}
                            )}}
                        </div>
                            
                    {{ form_end(message) }}

                </div>
                
                {% endif %}
                
            </div>
        </div>

        <div class="bloc-annonce-objet">
           
            <h2>Détails</h2>

            {% for objet in objets %}
                <div class="bloc-annonce-objet-container container"> 
                              
                    <div class="row">
                       
                        <span class="etiquettes">
                            {{ objet.categorie.groupe }}
                        </span>
                           
                        <span class="categorie">
                            {{ objet.categorie.nom }}
                        </span>
                        
                    </div>
                    
                    <div class="eta-qte row">
                        
                        <div class="quantite col-sm-2 col-xs-4">
                            <div class="eta-qte-label">Quantité : </div>
                            <div class="eta-qte-val">  
                                {{ objet.quantite }}
                            </div>
                        </div>
                        
                        <div class="etat col-sm-10 col-xs-8"> 
                            <div class="eta-qte-label">État : </div>
                            <div class="eta-qte-val"> 
                                {{ objet.etat }}
                            </div>
                        </div>
  
                    </div>   
                       
                    <div class="description row">
                        <h4>Description</h4>    
                        <p>{{ objet.description }}</p>
                    </div>
                       
                </div>          
            {% endfor %} 
              
        </div>
        
        <div id="carousel-photo" class="carousel slide bloc-annonce-img" data-ride="carousel">
           
            <ol class="carousel-indicators">
                <li data-target="#carousel-photo" data-slide-to="0" class="active"> </li>
                <li data-target="#carousel-photo" data-slide-to="1"> </li>
                <li data-target="#carousel-photo" data-slide-to="2"> </li>
            </ol>
            
            <div class="carousel-inner">
                
                
                <div class="item active">
                   
                    {% if images[0] is defined %}
                        <img src="{{ asset(images[0].webPath) }}" alt="{{ images[0].alt }}" class="img-responsive"/>
                    {% endif %}
                    
                    {% if images[0] is not defined %}
                        <img src="{{ asset('/uploads/img/placeholder.png') }}" alt="placeholder" class="img-responsive"/>
                    {% endif %}
                    
                </div>

                {% for image in images[1:] %}
                   
                    <div class="item">
                        <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}" class="img-responsive"/>
                    </div>
                
                {% endfor %}
                
            </div>
        
            <a class="left carousel-control" href="#carousel-photo" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-photo" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        
        </div>
        
    </div>
 
{% endblock %}
