{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}

<div class="bloc-annonce">
       
    <div class="index-recherche">
        
        <div class="bloc-recherche">
            
            <h4 class="titre-recherche">Rechercher <span class="glyphicon glyphicon-search"></span></h4>
        
            {{ form_start(recherche, 
                {'attr' : {'class' : 'form-recherche row'}}
            )}}
                
            {% form_theme recherche 'DoninfoBundle:Template:formulaires.html.twig' %}
                
                <div class="col-sm-3">
                    {{ form_row(recherche.motcle, 
                        {'attr': {'class' : 'form-control input-form-box input-recherche'}}
                    )}}
                </div>
               
                <div class="col-sm-3">
                    {{ form_row(recherche.departement, 
                        {'attr': {'class' : 'form-control input-form-box'}}
                    )}}
                </div>
                
                <div class="col-sm-3">
                    {{ form_row(recherche.categorie, 
                        {'attr': {'class' : 'form-control input-form-box '}}
                    )}}
                </div>
                
                <div class="col-sm-3">
                    <div class="form-group has-feedback button-container button-recherche-container">
                        {{ form_row(recherche.chercher, 
                            {'attr': {'class' : 'button form-control button-recherche'}}
                        )}}
                    <i class="glyphicon glyphicon-chevron-right form-control-feedback button-icon"></i>
                    </div>
                </div>
        
            {{ form_end(recherche) }}
            
        </div>
         
    </div>
    
    {{ include("DoninfoBundle:Site:listannonce.html.twig") }}
    
</div> 

{% endblock %}
