{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block contenu %}
    <div class="index-donateur">
        <h2 class="titre-donateur">Donations disponibles</h2>
        <div class="index-liste-don">
            <div class="index-liste-ligne index-imp row">
                <span class="td-date col-sm-1 col-xs-12">
                    
                </span>
                <span class="td-titre col-sm-3 col-xs-12">
                    
                </span>
                <span class="td-description col-sm-8 col-xs-12">
                
                </span>
            </div>
        </div>
    </div>
    
    <div class="index-recherche">
        
        <div class="bloc-recherche">
            
            <h4 class="titre-recherche">Rechercher <span class="glyphicon glyphicon-search"></span></h4>
        
            {{ form_start(recherche, 
                {'attr' : {'class' : 'form-recherche'}}
            )}}

                {{ form_row(recherche.motcle, 
                    {'attr': {'class' : 'form-control input-form-box input-recherche'}}
                )}}
                {{ form_row(recherche.region, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(recherche.departement, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(recherche.categorie, 
                    {'attr': {'class' : 'form-control input-form-box '}}
                )}}
                {{ form_row(recherche.chercher, 
                    {'attr': {'class' : 'boutton-recherche'}}
                )}}
        
            {{ form_end(recherche) }}
            
        </div>
         
    </div>
    
    {{ include("DoninfoBundle:Site:listannonce.html.twig") }}
    
{% endblock %}
