{# src/DoninfoBundle/Resources/views/Site/inscription.html.twig #}

{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}
        
        <div class="bloc-form">
        
        {{ form_start(inscription) }}
              
        {% form_theme inscription 'DoninfoBundle:Template:formulaires.html.twig' %}
               
            <div class="form-inscription-info">
                
                <h4>Inscrivez-vous</h4>
                
                <p class="inscription-p1">
                    Si vous souhaitez proposer un don ou répondre à un besoin, 
                    veuillez remplir le formulaire ci-dessous pour vous inscrire.
                    <br>
                    <br>
                    Suite à votre inscription, un courriel de confirmation vous 
                    sera envoyé dans les plus bref délais
                </p>
                
            </div>   
            
                
            <div class="form-inscription">
                
                <h4>STRUCTURE</h4>
                
                {{ form_row(inscription.nomstructure, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.activite, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.sirenrna, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.ape, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                
            </div>
            
            <div class="form-inscription">
                
                <h4>COORDONNÉES</h4>
                
                {{ form_row(inscription.siteweb, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.adresse, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.ville, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.codepostal, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.telephone, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.courriel.first, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.courriel.second, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                
            </div>
            
            <div class="form-inscription">  
                
                <h4>UTILISATEUR</h4>
                
                {{ form_row(inscription.nomuser, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.prenomuser, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                
            </div>
            
            <div class="form-inscription bottom-inscription">
            
                <h4>COMPTE</h4>
                {{ form_row(inscription.password.first, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}
                {{ form_row(inscription.password.second, 
                    {'attr': {'class' : 'form-control input-form-box'}}
                )}}   
                {{ form_row(inscription.recaptcha) }}
                
                <div class="form-group has-feedback button-container">
                    {{ form_row(inscription.envoyer, 
                        {'attr': {'class' : 'button form-control'}}
                    )}}
                    <i class="glyphicon glyphicon-chevron-right form-control-feedback button-icon"></i>
                </div>

            </div>
                
        {{ form_end(inscription) }}
        
        </div>
 
{% endblock %}
