{# src/DoninfoBundle/Resources/views/Site/membre.html.twig #}

{% extends "DoninfoBundle:Site:layout.html.twig" %}

{% block contenu %}

<div class="bloc-annonce">
       
    {% for flashMessage in app.session.flashbag.get('erreur') %}
        <div class="flash-messages">
            {{ flashMessage }}
        </div>
    {% endfor %}   
       
    <div class="infos-membre">
        
        <div class="bloc-membre">
            
            <h4 class="titre-membre">{{ app.user.nomstructure }}<span class="glyphicon glyphicon-user"></span></h4>
            
            <div class="bloc-membre-row">
                
                <div class="sous-bloc-membre-row row">
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Secteur d'activité</h5>
                        <div>
                            {{ app.user.activite }}
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Numéro Siren / Siret / RNA</h5>
                        <div>
                            {{ app.user.sirenrna }}
                        </div>
                        
                    </div>
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Numéro APE</h5>
                        <div>
                            {% if app.user.ape is not defined %}
                                NC
                            {% endif %}
                            {% if app.user.ape is defined %}
                                {{ app.user.ape }}
                            {% endif %}
                        </div>
                    </div>
                </div>
               
                <div class="sous-bloc-membre-row row">

                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Adresse</h5>
                        <div>
                            {{ app.user.adresse }}
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Ville</h5>
                        <div>
                            {{ app.user.ville }}
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Code postal</h5>
                        <div>
                            {{ app.user.codepostal }}
                        </div>
                    </div>   
                </div>
                
                <div class="sous-bloc-membre-row row">

                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Type de compte</h5>
                        <div>
                            {{ app.user.typestructure }}
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Nom et prénom</h5>
                        <div>
                            {{ app.user.nomuser }} {{ app.user.prenomuser }}
                        </div> 
                    </div>
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Date d'inscription</h5>
                        <div>
                            {{ app.user.dateinscription|date("d/m/Y") }}
                        </div>                        
                    </div>
                </div>
                
                <div class="sous-bloc-membre-row row">
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Adresse courriel</h5>
                        <div>
                            {{ app.user.courriel }}
                        </div>                        
                    </div>
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Site internet</h5>
                        <div>
                            {% if app.user.siteweb is not defined %}
                                NC
                            {% endif %}
                            {% if app.user.siteweb is defined %}
                                {{ app.user.siteweb }}
                            {% endif %} 
                        </div>                        
                    </div>
                    <div class="col-sm-4 col-xs-12 bloc-membre-infos">
                        <h5>Numéro de téléphone</h5>
                        <div>
                            {{ app.user.telephone }}
                        </div>                        
                    </div>

                </div>
            </div>
        </div>
         
    </div>
    
    <div class="infos-membre-annonce">
        <div class="bloc-membre-annonce">
            <h4 class="titre-membre">Annonces en cours<span class="glyphicon glyphicon-list"></span></h4>
            {{ include("DoninfoBundle:Site:listannonce.html.twig") }}
            <h4 class="titre-membre">Annonces terminées<span class="glyphicon glyphicon-folder-close"></span></h4>
            {{ include("DoninfoBundle:Site:listannonceoff.html.twig") }}
        </div>
    </div>

</div>
 
{% endblock %}
