{# DoninfoBundle/src/Resources/views/Site/template #}

{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} >
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="bloc-erreurs">
            {% for error in errors %}
                <div>{{ error.message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_widget_simple %}
{% if form.vars.errors|length > 0 %}
    {% set class = attr.class is defined ? attr.class ~ ' error' : 'error' %}
    {% set attr = attr|merge({'class': class}) %}
{% endif %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{%- block textarea_widget -%}
{% if form.vars.errors|length > 0 %}
    {% set class = attr.class is defined ? attr.class ~ ' error' : 'error' %}
    {% set attr = attr|merge({'class': class}) %}
{% endif %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{%- endblock textarea_widget -%}

